*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==================
   Custom properties 
   ================== */

:root {
    --primary-clr: #ffffff;
    --secondary-clr: #848FA5;
    --secondary-dark: #2D2D2A;

    --secondary-light-gray: #4C4C47;
    --accent-clr: #7D5BA6;

    --tertiary-clr-one: #2D4739;
    --tertiary-clr-two: #465362;

    --ff-primary: 'Roboto Condensed', 'Verdana';
    --ff-primary-two: 'Acme';
    --ff-secondary: 'Anton';

    --fw-reg: 300;
    --fw-bold: 700;

    --fs-b: 3rem;
    --fs-m: 2rem;
    --fs-s: 1.1rem;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.25);
}

/* ==================
   General styles
   ================== */

body {
    background: var(--primary-clr);
    margin: 0;
}

section { /* Generic padding for all the sections so that it all aligned */
    padding: 5em 2em;
    margin: 0 2em;
    border-radius: .5rem;
}

img {
    display: block;
    max-width: 100%; /*So that they dont overflow*/
}

.btn {
    padding: .6em;
    background: var(--accent-clr);
    transition: transform 200ms ease-in-out;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    
}

/* ==================
   Typography
   ================== */

h1,
h2,
h3 {
    line-height: 1.6;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2   {font-size: var(--fs-h2); font-family: var(--ff-primary-two);}
h3 {font-size: var(--fs-h3);}

/* ==================
          Layout
   ================== */

/* Nav Section */

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
}

.list__item {
    padding: 0.25em 1.25em;
    list-style: none;
    transition: outline 200ms ease-in-out, transform 200ms ease-in-out;
}

.list__item:hover,
.list__item:focus {
    
    outline: 0.5px solid black;
    transform: scale(1.1);
}

.nav__url{
    text-decoration: none;
    color: #2D2D2A;
    list-style: none;
}

@media (min-width: 600px){
    .nav__list {
        display: flex;
        flex-direction: row;
        margin-left: 15rem;
        margin-right: 15rem;
        padding: var(--fs-s);
        list-style: none;
        gap: var(--fs-s);
        justify-content: space-around ; 
    }
    
}

/* Intro Section */

.intro__img {
    box-shadow: var(--bs);
}

.intro__title {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    margin: 0;
    padding: 0;
    line-height: 1;
}

.intro__title strong { 
    display: block;
    font-family: var(--ff-primary-two);
}

.intro__subtitle {
    background: var(--accent-clr);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-s);
    line-height: 1.3;
    color: white;
    font-family: var(--ff-primary);
    
}

@media (min-width: 600px){
    .intro {
        display: grid;
        /* border: .1rem solid black; */
        width: min-content; /* So that it wont take all the width of the screen */
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
            grid-template-columns: min-content max-content; /*minimum of the image and maximum of the titles */
    }

    .intro__img {
        grid-area: img; /* row will start from img so subtitle will start directly over img */
        min-width: 260px;/*260px;*/
        position: relative;
        z-index: 1;
    }

    .intro__subtitle {
        align-self: start; /* aligns itself to the start */
        padding: .2rem;
        text-align: right;
        font-family: var(--ff-primary);
        color: white;
        font-size: 1rem;
        grid-column: -1 / 1; /* To stretch it over both columns*/
        grid-row: 2; /* start the subtitle from row 2 */
        position: relative; /* To use the box offset property - left*/
        left: -1.5rem; /* using left property to stick out the strip to the left */
        width: calc(100% + 1.5rem); /* pushing strip to left made the right side short. To tackle this we add 1.5rem to the 100%width*/
    }
}

/* About */

.about {
    background-color: var(--tertiary-clr-two);
    /* padding: 0; */
    text-align: center;
    font-family: var(--ff-primary);
    background: var(--secondary-dark);
    color: var(--primary-clr);
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.about__title {
    position: relative;
    color: var(--accent-clr);
    font-size: var(--fs-h1);
}

.about__title::after {
    content: '';
    display: block;
    background: var(--accent-clr);
    width: 2em;
    height: 1.2px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    
    .card__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }
    
    .about__card--card__section {
        color: var(--primary-clr);
    }
    
}

/* Goodreads */

.gr__subtitle {
    text-align: left;
    color: white;
    background: var(--accent-clr);
    padding: .5rem;
}


@media (min-width:1000px){
    .goodreads {
        /* border: 2px solid black; */ /* uncomment to check the working of width:min-content */
        background-color: var(--primary-clr);
        
        background-blend-mode:hard-light;
        text-align: center;
        text-transform: uppercase;
        width: min-content; /*reduces extra padding */  
        margin: 0 auto; /* width: min-content necessary to center */
        display: grid;
        grid-template-areas: 
            "title img"
            "subtitle img"; 
        grid-template-columns: min-content max-content;
        grid-column-gap: 1rem;
         
    }

    .cover {
        position: relative;
        grid-area: img;
        z-index: 1;
        box-shadow: var(--bs);
    }

    .gr__subtitle{
        text-align: left;
        color: white;
        background: var(--accent-clr);
        padding: .5rem;
        grid-column: -1 / 1;
        grid-row: 2;
        align-self: start;
        position: relative;
        left: -1.5rem;
        width: calc(100% + 4rem);
        padding-left: 1.6rem;
    }

}

/* Certification showroom */

.cert__content__box {
    background: var(--secondary-light-gray);
    border-radius: .5rem;

}

.cert__content__item {
    padding: 2rem;
}

@media (min-width:900px){
    .cert__showroom {
        /* border: 2px solid black; */
        background: var(--secondary-light-gray);
        background-image: url(../img/back2.jpg);
        background-blend-mode: multiply;

    }

    .cert__title {
        color: var(--accent-clr);
        text-align: center;
    }

    .cert__title::after {
        content: '';
        display: block;
        background: var(--accent-clr);
        width: 10rem;
        height: 1px;
        margin: 0 auto;
    }

    .cert__content__box {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 1rem;
        /* padding: 2rem; */
    }
    
    .cert__content__item {
        padding: 0;
        transition: transform 200ms ease-in-out;
    }

    .cert__content__item:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

}

/* Footer */

.footer {
    background: var(--secondary-dark);
    padding: 3rem;
    margin: 0;
    border-radius: 0;
}

.footer__title {
    color: var(--primary-clr);
    text-align: center;
    font-family: var(--ff-primary);
}

.footer__title::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    background: var(--primary-clr);
    margin: 0 auto;
}

.footer__social__icons {
    display: flex;
    /* border: 2px solid white; */
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.footer__social__icon {
    max-width: 2rem;
    /* padding: 1rem; */
    width: max-content;
}